@import './variables';

@mixin flexible($direction: row, $justify: flex-start, $alignment: stretch, $wrapping: nowrap) {
    display: flex;
    @if $direction != row { flex-direction: $direction; }
    @if $justify != flex-start { justify-content: $justify; }
    @if $alignment != stretch { align-items: $alignment; }
    @if $wrapping != nowrap { flex-wrap: $wrapping; }
}

@mixin icon($url, $btnW: $btn-size, $btnH: $btn-size, $bgrdW: $btn-size, $bgrdH: $btn-size) {
    width: $btnW;
    height: $btnH;
    background-image: url($url);
    background-size: $bgrdW $bgrdH;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin icon-btn($url) {
    @include icon($url);
    opacity: .6;
    cursor: pointer;
    transition: .15s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

@mixin reset-btn($bgr-color: transparent) {
    border: none;
    background-color: $bgr-color;
}

@mixin position-n-animdelay($top, $left, $delay) {
    top: $top;
    left: $left;
    animation-delay: $delay;
}

@mixin primary-btn() {
    cursor: pointer;
    border-radius: $border-radius;
    padding: 10px 20px;
    
    &:hover {
        background-color: $accent-color;
        color: $light-color;
    }
}

@mixin fixed-positioning() {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin center-line() {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid $accent-color; 
    line-height: 0.1em;
    margin: 10px 0 20px; 

    span { 
        background: $light-color; 
        padding: 0 10px; 
    }
}

@mixin search-top-position($top) {
    top: $top;
    left: 10px;
    right: 10px;
    width: 95%;
}

@mixin set-main-loader-childs-settings() {
    $min: 8px;
    $middle: 32px;
    $max: 56px;

    $settings: (
        1 $min $min 0s,
        2 $min $middle -0.4s,
        3 $min $max -0.8s,
        4 $middle $min -0.4s,
        5 $middle $middle -0.8s,
        6 $middle $max -1.2s,
        7 $max $min -0.8s,
        8 $max $middle -1.2s,
        9 $max $max -1.6s
    );
    
    @each $index, $top, $right, $delay in $settings {
        &:nth-child(#{$index}) {
            @include position-n-animdelay($top, $right, $delay);
        }
    }
}

@mixin set-childs-animation-delays($indexes) {
    @each $index, $delay in $indexes {
        &:nth-child(#{$index}) {
            animation-delay: $delay;
        }
    }
}