@import './variables';

@mixin flexible($direction: row, $justify: flex-start, $alignment: stretch, $wrapping: nowrap) {
    display: flex;
    @if $direction != row { flex-direction: $direction; }
    @if $justify != flex-start { justify-content: $justify; }
    @if $alignment != stretch { align-items: $alignment; }
    @if $wrapping != nowrap { flex-wrap: $wrapping; }
}
@mixin icon($url, $btnW: $btn-size, $btnH: $btn-size, $bgrdW: $btn-size, $bgrdH: $btn-size) {
    width: $btnW;
    height: $btnH;
    background-image: url($url);
    background-size: $bgrdW $bgrdH;
    background-position: center;
    background-repeat: no-repeat;
}
@mixin icon-btn($url) {
    @include icon($url);
    opacity: .6;
    cursor: pointer;
    transition: .15s ease-in-out;

    &:hover {
        opacity: 1;
    }
}
@mixin reset-btn() {
    border: none;
    background-color: transparent;
}
@mixin position-n-animdelay($top, $left, $delay) {
    top: $top;
    left: $left;
    animation-delay: $delay;
}
@mixin primary-btn() {
    cursor: pointer;
    border-radius: $border-radius;
    padding: 10px 20px;
    
    &:hover {
        background-color: $accent-color;
        color: $light-color;
    }
}
@mixin fixedPositioning() {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@mixin centerLine() {
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid $accent-color; 
    line-height: 0.1em;
    margin: 10px 0 20px; 

    span { 
        background: #fff; 
        padding: 0 10px; 
    }
}