// fonts
$logo-font: "Great Vibes", cursive;
$primary-font: "Playfair Display", serif;
$secondary-font: "Comfortaa", sans-serif;

$dark-color: #131313;
$light-color: #fff;
$accent-color: #ff9b41;

$icon-btn-size: 30px;
$border: 1px solid #919191;