@import './variables';
@import './mixins';
@import './typography';

body {
    min-width: 300px;

    &, html, * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

.topbar {
    @include flexible($justify: space-between, $alignment: center);
    padding: .8rem 1.5rem;
    border-bottom: $border;
    background-color: $light-color;

    @media (max-width: 410px) {
        padding: .3rem .5rem;
    }

    .left-side {
        @include flexible($alignment: center);
    }

    .saved-link {
        display: block;
        @include icon-btn("../../assets/icons8-favorites-64.png");
        padding-left: 30px;
    }

    .logo {
        text-decoration: none;
        margin: 5px 0 0 20px;
        display: block;

        img {
            height: 60px;

            @media (max-width: 768px) {
                height: 50px;
            }
            
            @media (max-width: 480px) {
                height: 40px;
            }
        }
    }
}