@import '../../styles/common.scss';
@import '../../styles/components/recipesList.scss';

.topbar {
    .back-btn {
        @include reset-btn();
        @include icon-btn("../../assets/icons8-back-50_black.png");
    }
}

.recipes {
    .empty-mssg  {
        display: none;
        font-family: $secondary-font;
        color: $middle-grey;
        justify-content: center;
        padding: 40px 20px;
    }
    
    .save-btn {
        transform: translateY(0);
    }
}