@import '../../styles/common';
@import '../../styles/components/loader';
@import '../../styles/components/rating';

.topbar {
    border-bottom: none;

    .back-btn {
        @include reset-btn();
        @include icon-btn("../../assets/icons8-back-50_black.png");
        margin-right: 20px;

        @media (max-width: 410px) {
            margin-right: 10px;
        }
    }
}

.background {
    z-index: -1;
    @include fixedPositioning();
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
        content: "";
        @include fixedPositioning();
        backdrop-filter: blur(6px);
    }
}

.recipe-wrapper {
    max-width: 1000px;
    min-height: 100vh;
    padding: 30px 20px 20px;
    margin: 20px auto;
    position: relative;
    background-color: $light-color;

    .recipe {
        .header {
            @include flexible($direction: column, $alignment: center);

            .recipe-name {
                text-align: center;
                font-family: $primary-font;
                font-weight: 600;
                font-size: 3rem;
                color: $dark-color;

                @media (max-width: 786px) {
                    font-size: 2.2rem;
                }
                
                @media (max-width: 410px) {
                    font-size: 1.7rem;
                }
            }

            .categories {
                margin-top: 10px;
                font-family: $secondary-font;
                color: $middle-grey;
            }

            .rating-block {
                @include flexible($alignment: center);
                font-family: $secondary-font;
                margin: 10px 0 20px;
            }
        }

        .recipe-details {
            @include flexible($justify: center, $alignment: center);

            @media (max-width: 786px) {
                flex-wrap: wrap;
            }
            
            @media (max-width: 350px) {
                gap: 30px;
            }
    
            .left-side,
            .right-side {
                margin-bottom: 30px;
                text-align: center;
                @include flexible($direction: column, $alignment: center);

                .icon {
                    margin-bottom: 10px
                }

                .group {
                    margin-bottom: 15px;

                    &-title {
                        font-family: $secondary-font;
                        font-size: 1.1rem;
                        letter-spacing: 1px;
                        font-weight: 600;
                        color: $dark-color;
                        margin-bottom: 5px;
                    }

                    &-data {
                        font-family: $secondary-font;
                        color: $dark-grey;
                    }
                }
            }

            .left-side {
                margin-right: 40px;

                @media (max-width: 786px) {
                    order: 2;
                }
                
                @media (max-width: 350px) {
                    margin: 0;
                }

                .icon {
                    @include icon('../../assets/cooking-time.png', 70px, 70px, 78px, 80px);
                }
            }

            .recipe-photo {
                width: 400px;
                margin: 0 20px;

                @media (max-width: 786px) {
                    order: 1;
                    width: 80%;
                    margin-bottom: 20px;
                }
                
                @media (max-width: 410px) {
                    width: 95%;
                    margin: 0 0 20px;
                }
            }

            .right-side {
                margin-left: 40px;

                @media (max-width: 786px) {
                    order: 3;
                }

                @media (max-width: 350px) {
                    margin: 0;
                }

                .icon {
                    @include icon('../../assets/dish.png', 70px, 70px, 70px, 70px);
                }
            }
        }

        .recipe-body {
            @include flexible($direction: column);
            margin-top: 40px;
    
            .recipe-body-title {
                @include centerLine();
                text-align: center;
                font-family: $primary-font;
                font-size: 1.8rem;
            }

            .ingredients,
            .instructions {
                width: 100%;
            }

            .ingredients ul,
            .instructions ol {
                font-family: $secondary-font;
                font-weight: 500;
                padding: 10px 50px;
                margin: 20px;

                
                @media (max-width: 450px) {
                    padding: 10px 15px;
                    margin: 10px;
                }
            }

            .ingredients li {
                margin: 5px 0;
            }

            .instructions li {
                margin: 10px 0;
            }
        }
        
        .btns-group {
            margin: 10px 0;
            text-align: center;

            .save-button {
                @include reset-btn();
                font-family: $primary-font;
                border: 2px solid $accent-color;
                border-radius: $border-radius;
                padding: 10px 10px 10px 30px;
                background-image: url(../../assets/icons8-favorite-50.png);
                background-repeat: no-repeat;
                background-position: left;
                background-size: 25px 25px;
                cursor: pointer;
                
                &.saved {
                    background-image: url(../../assets/saved.png);
                }
            }
        }
    }
}